.Sales {
  height: 110vh;
  background-color: #eaf5ff;
}
.Sales_text {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 400%;
  text-align: center;
}
.Sales_flex {
  display: flex;
  margin-top: -4%;
}
.Sales_textp {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 48px;
  margin-left: 7%;
  width: 38%;
  color: #606060;

  text-align: justify;
}
.Sales_button{
    background-color: #cae6ff;
    height: 96px;
    border: none;
    outline: none;
    font-family: "Fantasque Sans Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    width: 24%;
    border: 2px #157EBF solid ;
    margin-left: 7%;
    position: absolute;
    margin-top: -8%;
    cursor: pointer;
}
