.Sales {
  height: 220vh;
  background-color: #FFF2C1;
}
.Sales_text {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 400%;
  text-align: center;
}
.Sales_flex {
  display: flex;
  margin-top: -4%;
}
.Sales_textp {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  margin-left: 6%;
  margin-top: 11%;
  width:90% ;
}
.Sales_button {
  background-color: #cae6ff;
  height: 96px;
  border: none;
  outline: none;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 24%;
  border: 2px #157ebf solid;
  margin-left: 7%;
  position: absolute;
  margin-top: -11%;
  cursor: pointer;
}
.Sales_button2{
  background-color: #cae6ff;
  height: 96px;
  border: none;
  outline: none;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  width: 20%;
  border: 2px #157ebf solid;
  margin-top: -11%;
  cursor: pointer;
  position: absolute;
  margin-left: 69%;
  margin-top: -30%;
}
.Sales_price{
  position: absolute;
  margin-left: 45%;
  margin-top: -13%;
}
.Sales_price2{
  position: absolute;
  margin-left: 28%;
  margin-top: -34%;
}
.Sales_flex2{
  display: flex;
}
.Sales_textp2{
  font-family: 'Fantasque Sans Mono';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 122.5%;
text-align: right;
margin-right: 10%;
margin-top: 20%;
}
.Sales_certificate{
  margin-top: -12%;
}