.Sales {
  height: 110vh;
  background-color: #eaf5ff;
}
.Sales_text {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 400%;
  text-align: center;
}
.Sales_flex{
    display: flex;
}