.Speakers {
  width: 100%;
  height: 70vh;
  background-color: #cae6ff;
}
.Speakers_text {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 59px;
  text-align: center;
}
.Speakers_flex {
  display: flex;
}

.Speakers_textp {
  display: grid;
}
.Speakers_text{

}
.Speakers_post{
  
}