.Navbar {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 140.02%;
  font-size: 24px;
  margin-top: 2%;
  justify-content: space-around;
}
.Navbar_text {
  display: flex;
  justify-content: space-between;
  width: 42%;
  cursor: pointer;
}
.Navbar_button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 140.02%;
  font-size: 24px;
  background-Color:#CAE6FF; 
  height: 60px;
  width: 28;
}
.Navbar_img{
  cursor:pointer;
   margin-left:-3%;
   width: fit-content;
}


@media (min-width: 320px) and (max-width: 480px) {
  .Navbar {
    display: flex;
    font-family: "Fantasque Sans Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 40%;
    font-size: 52px;
    margin-top: 18%;
   
  }
  .Navbar_text {
    /* display: grid; */
    cursor: pointer;
    justify-items: center;

  }
  .Navbar_button {
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 9px;
  
    font-family: "Fantasque Sans Mono";
    font-style: normal;
    font-weight: 400;
    line-height: 140.02%;
    font-size: 52px;
    height: 132px;
    width: 119%;
  }
  .Navbar_img{
    cursor:pointer;
    margin-left: 54%;
  }
}
