.Navbar {
  display: flex;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 140.02%;
  font-size: 24px;
  margin-top: 2%;
}
.Navbar_text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
