.Navbar {
  display: flex;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  line-height: 140.02%;
  font-size: 24px;
  margin-top: 2%;
  gap: 80px;
  justify-content: space-around;
}
.Navbar_text {
  display: flex;
  justify-content: space-between;
  width: 42%;
}
.Navbar_button{
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 9px;
  margin-top: 10px;
}