.Courses {
  height: 100vh;
  background-color: #fff2c1;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
 
}
.Courses_title {
  font-size: 56px;
  text-align: center;
  line-height: 140.02%;
}
