.Courses {
  height: 100vh;
  background-color: #fff2c1;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
}
.Courses_title {
  font-size: 56px;
  text-align: center;
  line-height: 140.02%;
}
.Courses_subtitle {
  font-size: 48px;
  line-height: 140%;
}
.Courses_flex {
  display: flex;
}
.Courses_stack {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}
