.Schedule {
  height: 80vh;
  background-color: #cae6ff66;
}
.Schedule_text {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 59px;
}
.Schedule_text_session {
  background: #fdfdfd;
  box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}
