.About {
  height: 110vh;
  width: 100%;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
}
.About_text {
  line-height: 140.02%;
  text-align: center;
  font-size: 50px;
}
.About_flex {
  display: flex;
}
.About_para {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 62px;
  color: #274472;
  width: 700px;
  margin-left: 30%;
  margin-top: 5%;
  padding-top: 14%;
  
}
.About_subpara {
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  color: #274472;
  width: 54%;
 
  margin-left: 12%;
}
.About_img {
  margin-left: 0.1%;
}

