.Footer {
  width: 105rem;
  height: 50vh;
  background-color: #cae6ff;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #606060;
  text-align: center;
}
.Footer_text {
  font-family: "Fantasque Sans Mono";
  font-size: 13px;
  font-weight: 200;
  margin-top: -0.5%;
  word-spacing: -3px;
}
.Footer_textp {
  font-family: "Fantasque Sans Mono";
  word-spacing: 10px;
  font-size: 18px;
  margin-left: 1%;
  margin-top: -1px;
}
.Footer_img {
  width: fit-content;
}
@media (min-width: 320px) and (max-width: 480px) {
  .Footer {
    height: 160vh;
    background-color: #cae6ff;
    font-family: "Fantasque Sans Mono";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #606060;
    text-align: center;
  }
  .Footer_img {
    width: 359px;
  }
  .Footer_textp {
    font-family: "Fantasque Sans Mono";
    word-spacing: 10px;
    font-size: 40px;
    margin-left: 1%;
    margin-top: 104px;
}
}
