.Footer {
  height: 30vh;
  background-color: #cae6ff;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #606060;
  text-align: center;
}
.Footer_text{
    font-family:;

}
.Footer_textp{
    word-spacing: 14px;
    font-size: 22px;
}