.Home {
  height: 80vh;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
}
.Home_text {
  text-align: center;
}
.Home_button {
  text-align: center;
}
