.Home {
  height: 110vh;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 54px;
}
.Home_text {
  text-align: center;
  width: 54%;
height: 110px;
margin-left: 25%;
margin-right: 27%;
font-weight: 500;
font-size: 28px;
letter-spacing: 2px;
}
.Home_button {
  height: 80px;
  background-color: #CAE6FF;
  width: 20%;
  font-family: "Fantasque Sans Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 54px;
  outline: none;
  border: none;
  margin-left: 44%;
  cursor: pointer;
  border-radius: 9px;
  
}
