.Home{
    height: 80vh;
}
.Home_text{
    font-family: 'Fantasque Sans Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 54px;
    /* or 223% */
    
    text-align: center;
}
.Home_button{
font-family: 'Fantasque Sans Mono';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 54px;
/* or 223% */

text-align: center;
}